# Archivos de configuración local y credenciales (CRUCIAL)
.env

# Entornos virtuales de Python
venv/
.venv/
env/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuraciones de editores de código (Opcional)
.vscode/
.idea/